<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
    <context:spring-configured/>
    <context:annotation-config/>

    <util:properties id="couchdbProperties" location="classpath:/couchdb.properties"/>
    <bean id="eventRelay" class="org.motechproject.couchmrs.viewer.service.DummyEventRelay"/>
    <bean id="couchDbManager" class="org.motechproject.commons.couchdb.service.impl.CouchDbManagerImpl"/>

    <bean id="couchPersonDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-person-repository" />
    </bean>

    <bean id="couchConceptDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-concept-repository" />
    </bean>

    <bean id="couchProviderDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-provider-repository" />
    </bean>

    <bean id="couchPatientDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-patient-repository" />
    </bean>

    <bean id="couchFacilityDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-facility-repository" />
    </bean>

    <bean id="couchObservationDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-observation-repository" />
    </bean>

    <bean id="couchEncounterDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-encounter-repository" />
    </bean>

    <bean id="motechIdReservationDatabaseConnector" factory-bean="couchDbManager"
          factory-method="getConnector">
        <constructor-arg value="motech-motech-id-reservation-repository" />
    </bean>

    <context:annotation-config />
    <context:component-scan base-package="org.motechproject.couchmrs.viewer" />
    <context:component-scan base-package="org.motechproject.couch.mrs.repository.impl" />


    <!-- <import resource="classpath*:/META-INF/motech/*.xml" />

    <context:component-scan base-package="org.motechproject.couchmrs"/> -->
 
</beans>